body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-div{
  display: flex;
  justify-content: center;
}

.title-div > h1{
  color: white;
  padding: 5px;
}

.card-title-red{
  background-color: #FF8191;
}

.card-title-yellow{
  background-color: #FFF781;
}

.card-title-green{
  background-color: #37EC60;
}

.app-body{
  background-color: #3C9FC7;
  min-height: 100vh;
}

.center-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-body{
  overflow: auto;
  height: 70vh;
}